################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SwedishSocialSecurityNumberGenerator/.vs/SwedishSocialSecurityNumberGenerator/v16
/SwedishSocialSecurityNumberGenerator/obj
